<!DOCTYPE html>
<html>
    <head>
        <title> Atomic Chess </title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='chess/chess.css') }}">

        <script src="{{ url_for('static', filename='chess/utils.js') }}"></script>
        <script src="{{ url_for('static', filename='chess/chess.js') }}"></script>
        <script src="{{ url_for('static', filename='chess/board.js') }}"></script>

        <script>
            let board;
            let normal;
            window.onload = () => {
                // Create a chess board inside the #board element
                board = new ChessBoard({ target: "#board" });
                board.setAtomic(true);
                // Set position from FEN (initial starting position)
                board.setFromFen("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1");
                // board.setFromFen("8/8/8/3N4/4n3/8/8/8 w - - 0 1");

                window.test = (depth, comparison) => {
                    perft(board.position, depth, true, comparison);
                }

                normal = new ChessBoard({ target: "#secondBoard", useMoveAnimations: false });
                normal.setAtomic(false);
                normal.setFromFen("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1");
            };
        </script>

        <title>Atomic Chess</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-custom">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#"> <img src="{{url_for('static', filename='logo/atomic_chess.png')}}" width='65'
                    height='65' alt='atomic chess logo'> </a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}"> Home </a></li>
                <li><a href="{{ url_for('learn') }}"> Learn </a></li>
                <li><a href="{{ url_for('stats') }}"> Stats </a></li>
                <li><a href="{{ url_for('settings') }}"> Settings </a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              </ul>
            </div>
          </nav>

       

    </body>
</html>
