.ac-lesson-outline {
	display: flex;
	align-items: center;
}

.ac-lesson-outline > div {
	width: 100%;
}

.ac-lesson-button {
    display: flex;
    color: white;
    text-decoration: none;
    width: 170px;
    height: 3em;
    align-items: center;
    justify-content: center;
    background-color: var(--ac-green);
    border-radius: 5px;
    margin: auto auto 1em auto;
}

.ac-lesson-button:hover {
    background-color: var(--ac-deep-green);
    color: white;
}

.ac-lesson-button.ac-disable-access {
	background-color: var(--ac-grey);
	cursor: not-allowed;
}