.ac-lesson-content {
	margin-left: 10px;
	padding-bottom: 15px;
}

.ac-puzzle-container {
	display: flex;
	margin: auto;
}

.ac-lesson-board {
	width: min(70vw, 70vh);
	height: min(70vw, 70vh);
	min-width: min(70vw, 70vh);
	min-height: min(70vw, 70vh);
	margin-left: auto;
}

.ac-puzzle-helper {
	margin-left: 5px;
	width: min(40vw, 40vh);
	height: min(70vw, 70vh);
	margin-right: auto;
	background-color: rgb(238, 238, 238);
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.ac-lesson-content {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
}

.ac-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#puzzle-text {
	margin-top: 10px;
}

#continue-button {
	margin-top: auto;
	align-self: flex-end;
	width: 100%;
	background-color: var(--ac-green);
	border-color: var(--ac-green);
}

#continue-button:hover {
	background-color: var(--ac-deep-green);
	border-color: var(--ac-deep-green);
}

.ac-full-button {
	width: 100%;
	border-radius: 0;
	padding: 10px;
}

.ac-lesson-task {
	margin-top: 50px;
}

.ac-next-button-container {
	margin-top: auto;
	align-self: flex-end;
	width: 100%;
}

.ac-button-group {
	margin-top: 10px;
}

.ac-full-button {
	width: 100%;
	border-radius: 0;
	padding: 10px;
}

.ac-previous-button {
	border-radius: 50%;
	background-color: #f1f1f1;
	color: black;
	width: 50px;
	height: 50px;
}

/* Override bootstrap classes */
.btn-success #next-button {
	background-color: var(--ac-green);
	border-color: var(--ac-green);
}

.btn-success #next-button:hover {
	background-color: var(--ac-deep-green);
	border-color: var(--ac-deep-green);
}
