.board {
    width: 600px;
    height: 600px;
    outline: none;
    user-select: none;
    border: 2px solid black;
}

.container {
    display: flex;
}

/*ul li {
    float: left;
    list-style-type: none;
}*/