body {
    position: relative;
}

body::after {
    content:'';
   display:block;
   height: 150px; 
}

.board {
    outline: none;
    user-select: none;
}

.container {
    display: flex;
}

ul li {
    float: left;
    list-style-type: none;
}

.navbar-custom {
    height: 90px;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 16pt;
    padding-top: 30px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: rgba(225, 211, 14, 0.4);   
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-color: rgba(225, 186, 14, 0.4);
    color: black;
    font-weight: bold;
}

.footer-content {
    padding-top: 2%;
    width: 100%;
}

.footer-content a:hover {
    color:brown;
    text-decoration: none;
}

.glyphicon-font {
    font-size: 5em;
    padding-right: 1em;
    padding-top: 2%;
    padding-left: 1%;
}

#links {
    padding-bottom: 1em;
}
