body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 70px;
}

body::before {
    content: "";
    background: url('background/chess2.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

.board {
    outline: none;
    user-select: none;
}

.container {
    display: flex;
}

.container-fluid, .navbar-nav {
    height: 100%;
}

.navbar-nav>li {
    color: rgb(16, 143, 216);
    font-size: 18pt;
    height: 100%;
}

.navbar-nav>li:hover {
    background-color: rgba(225, 211, 14, 0.4);   
}

@font-face {
    font-family: Soria;
    src: url('fonts/FiraCode-Regular.ttf')
  }

.main-text {
    font-family: Soria, Georgia;
}

.main-text h1 {
    font-size: 50pt;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.main-text p {
    font-size: 18pt;
    margin-top: 70px;
    margin-left: 50px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(34, 34, 34);
    color: white;
    overflow: hidden;
}

.footer-content a {
    text-decoration: none;
    color: white;
}

.footer-content a:hover {
    color:brown;
    text-decoration: none;
}

.bi-list {
    color: white;
    font-size: 2em;
}

.bi-info {
    font-size: 40px;
}

.bi-github {
    font-size: 1.5em;
}

.bi-list-task {
    font-size: 1.5em;
}