.ac-form-section {
    position: absolute;
    top: 35%;
    left: 20%; 
}

.ac-form-container {
    background-color: rgba(34, 34, 34, 0.3);
    border: ridge black 5px;
    border-radius: 10px;
    color: black;
    padding-left: 0px;
}

.ac-forms {
    font-family: Corbel, FiraCode;
    font-size: 16pt;
    padding-left: 5px;
    padding-top: 10px;
    
}

.ac-forms > input {
    margin-bottom: 10px;
}

.ac-forms > input[type="text"] {
    transform: scale(0.9);
    padding-left: 0px;
}

.ac-forms > input[type="password"] {
    transform: scale(0.9);
    padding-left: 0px;
}

.ac-forms > input[type="checkbox"] {
    transform: scale(1.4);
    margin-left: 5px;
}

.ac-forms > input[type="submit"] {
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    width: 90px;
    height: 40px;
    font-family: FiraCode, Georgia;
    font-size: 1rem;
}

.ac-forms > label {
    padding-left: 10px;
}

.ac-errors {
    padding-left: 10px;
    color: #aa0000;
}

.ac-disable-access {
	background-color: var(--ac-grey) !important;
	cursor: not-allowed !important;
}

.ac-form-info {
    font-size: 12pt;
    margin-left: 20px;
    /*animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0*/
    border-left: solid black 4px;
    display: none;
}