.ac-form-section {
    width: 100%;
}

.ac-form-container {
    background-color: rgba(220, 220, 220, 0.7);
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
    color: black;
    padding: 0px;
    display: flex;
}

.ac-forms {
    font-family: Corbel, FiraCode;
    font-size: 16pt;
    margin: 1.5rem 3rem 0.5rem 3rem;
    width: min-content;
}

.ac-forms > input {
    margin-bottom: 10px;
}

.ac-forms > input[type="text"], .ac-forms > input[type="password"] {
    font-size: 14pt;
    padding-left: 0.75em;
    border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
}


.ac-forms > input[type="checkbox"] {
    transform: scale(1.4);
    margin-left: 5px;
}

.ac-forms > input[type="submit"] {
    border: none;
    margin-top: 5px;
    margin-left: 0;
    padding: 0.25rem 0.5rem;
    font-family: FiraCode, Georgia;
    font-size: 1rem;
}

.ac-errors {
    color: #e72828;
    margin: 0;
}

.ac-form-info {
    font-size: 12pt;
    margin-left: 30px;
    padding-left: 1rem;
    width: 30vw;
    /*animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0*/
    border-left: solid var(--ac-light-green) 4px;
    display: none;
}