{% extends "lessons/lesson_base.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='learn/lesson.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
	window.onload = async () => {
		const stages = [
			{
				puzzleData: {
					fen: "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1",
					moveTree: createLinearMoveTree([moveFromString("g1f3"), moveFromString("e7e6"), moveFromString("f3e5"), moveFromString("f7f6"), moveFromString("e5d7")]),
					eventColor: COLORS.WHITE
				},
				text: [
					`Begin by playing <b>Nf3</b>`,
					`Although pawn to <b>e6</b> might look like a logical move, this is already a terrible blunder for black! In fact white can win in 2 moves. Can u find the winning strategy for white?`,
					`Yes <b>Ne5</b> is the correct move! Black cannot stop white from taking either the pawn on <b>d6</b> or <b>f7</b> and blowing up the king`
				],
				isFlipped: false,
				scriptFirstMove: false,
			},
			{
				puzzleData: {
					fen: "rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 1 1",
					moveTree: createLinearMoveTree([moveFromString("b8c6"), moveFromString("f3g5"), moveFromString("f7f6"), 
					moveFromString("g5f7"), moveFromString("f6f5"), moveFromString("f7d8")]),
					eventColor: COLORS.WHITE
				},
				text: [
					`By moving knight to <b>c6</b>, black is now defending <b>e5</b> square. However this is still lost for black. Using a similar idea from the first example can you find the winning strategy for white?`,
					`Thats Right! By moving <b>Ng5</b>, white is threatening to captue on <b>f7</b> and blow up the king. Therefore black is forced to play pawn <b>f6</b> or <b>f7</b>.
					Whats the next move for white?`,
					`The queen is now trapped and will be captured on the next move, thereby blowing up the king`,
				],
				isFlipped: false,
				scriptFirstMove: true,
			},
			{
				puzzleData: {
					fen: "rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 1 1",
					moveTree: createLinearMoveTree([moveFromString("f7f6")]),
					eventColor: COLORS.WHITE
				},
				text: [
					`It turns out, blacks best response to <b>Nf3</b> is <b>f6</b>. This defends both the <b>e5</b> and <b>g5</b> squares`,
				],
				isFlipped: false,
				scriptFirstMove: true,
			}
		];

		const userSettings = await ajax("{{ url_for('get_settings') }}");
		const boardOptions = userSettings ? transformSettingsResponse(userSettings.settings) : {};
		runLesson(stages, DEFAULT_LESSON_OPTIONS, boardOptions);
		
	}
</script>
{% endblock %}

{% block header %}
<h2 class="ac-section">Opening Traps</h2>
<p>In this lesson you will be playing as white as we guide you along the best moves. If black is not careful you can
	win very quickly!</p>
{% endblock %}