{% extends "lessons/lesson_base.html" %}

{% block scripts %}
{{ super() }}
<script>
window.onload = async () => {
    const stages = [
        {
            puzzleData: {
                fen: "rnb5/ppp5/2b5/2N5/8/8/8/8 w - - 0 1",
                moveTree: createLinearMoveTree([moveFromString("c5b7")]),
                eventColor: COLORS.WHITE,
            },
            text: [
                `In Atomic Chess, all the pieces move using the same rules as classical chess.
                The major difference is how pieces are captured. Firstly, whenever you capture a piece
                both your piece and the opponent's piece are removed from the board. <br><br> Secondly,
                Atomic chess has its name because when any piece is captured, all pieces except <b>pawns</b> in a
                3x3 area around the captured piece are also removed from the board.
                <br><br>Capture the black pawn with your knight on the board below.`,
            ],
            isFlipped: false,
            scriptFirstMove: false,
        },
        {
            puzzleData: {
                fen: "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1",
                moveTree: null,
                eventColor: COLORS.WHITE,
            },
            text: [
                `These rules completely change how you think about and play the game, introducing crazy new strategies
                that are not possible in classic chess. These concepts are covered in later lessons:
                <ul style="list-style-type: none; padding: 0;">
                    <li><b>New ways to win</b></li>
                    <li><b>Opening traps</b></li>
                    <li><b>Strategies to keep your king and pieces safe</b></li>
                    <li><b>Interesting endgame strategies</b></li>
                </ul>`,
            ],
            isFlipped: false,
            scriptFirstMove: false,
        },
    ];

    const userSettings = await ajax("{{ url_for('get_settings') }}");
    const boardOptions = userSettings ? transformSettingsResponse(userSettings.settings) : {};
    runLesson(stages, { ...DEFAULT_LESSON_OPTIONS, sandbox: true }, boardOptions);
};
</script>
{% endblock %}



{% block header %}
<h2 class="ac-section">Atomic</h2>
{% endblock %}
