.my-progress-bar-container {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.my-progress-bar {
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.my-progress-bar li {
	list-style-type: none;
	width: 16.66%;
	float: left;
	font-size: 14px;
	position: relative;
	text-align: center;
	color: #7d7d7d;
}

li > a.node {
	width: 40px;
	height: 40px;
	border: 2px solid;
	display: block;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	border-color: #7d7d7d;
	background-color: white;
}

li.completed > a.node {
	border-color: #55b776;
}

/* Override Bootstrap classes */
.nav-tabs > li.active > a.node {
	border: 2px solid;
	/* position: relative;
	top: -10px;
	width: 50px;
	height: 50px; */
	border-color: #7d7d7d;
}

.nav-tabs > li.active.completed > a.node {
	border-color: #55b776;
}

.nav-tabs > li > a.node:hover {
	background-color: white;
}
/* End Override Bootstrap classes */

.my-progress-bar li::after {
	width: 100%;
	height: 20px;
	content: '';
	position: absolute;
	background-color: #7d7d7d;
	top: 10px;
	left: -50%;
	z-index: -1;
}

.my-progress-bar li:first-child::after {
	content: none;
}

.my-progress-bar li.completed {
	color: #55b776;
}

.my-progress-bar li.completed::before {
	content: url(check.svg);
	position: absolute;
	top: 8px;
	left: 50%;
	margin-left: -12.5px;
	pointer-events: none;
	z-index: 10;
}

.my-progress-bar li.completed + li::after {
	background-color: #55b776;
}
