.ac-chess-board {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    user-select: none;
}

.ac-coordinate {
    font-family: 'Noto Sans', Sans-Serif;
    font-weight: 700;
    line-height: normal;
}

.ac-rank-coordinate {
    position: absolute;
    bottom: 0px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.ac-file-coordinate {
    position: absolute;
    right: 0;
    margin-right: 2px;
    margin-top: 2px;
}

table.ac-chess-board > tr {
    height: calc(100% / 8);
    width: 100%;
    display: flex;
}

table.ac-chess-board > tr > td {
    width: calc(100% / 8);
    height: 100%;
    display: flex;
    padding: 0px;
    position: relative;
}

.ac-chess-piece {
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 100%;
}

.ac-chess-marker {
    position: absolute;
    z-index: 5;
    text-align: center;
}

.ac-chess-marker svg {
    vertical-align: baseline;
}
