{% extends "base.html" %}
{% block styles %}
<style>



</style>
{% endblock %}


{% block content %}
<div class='main-text'>
  <h1> Atomic Chess </h1>
  <p>
    Welcome! <br> This website teaches you the chaotic chess variant Atomic Chess in roughly 10 minutes. <br> <br>
    {% if not user %}
    Create an account by clicking Sign In in the top-right corner, then head over to the Learn section to get started!
    Prior chess knowledge is not strictly required but will result in a better experience.
    {% endif %}
  </p>
</div>
{% endblock %}