{% extends "base.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='progress_bar/progress_bar.css') }}">
{% endblock %}

{% block content %}
<ul class="my-progress-bar nav nav-tabs">
  <li class="completed">
    <a class="node" data-toggle="tab" href="#lesson-1"></a>
    Rules
  </li>
  <li class="completed">
    <a class="node" data-toggle="tab" href="#lesson-2"></a>
    Win Conditions
  </li>
  <li class="completed">
    <a class="node" data-toggle="tab" href="#lesson-3"></a>
    Opening Traps
  </li>
  <li class="active">
    <a class="node" data-toggle="tab" href="#lesson-4"></a>
    Checks
  </li>
  <li>
    <a class="node" data-toggle="tab" href="#lesson-5"></a>
    Piece Safey
  </li>
  <li>
    <a class="node" data-toggle="tab" href="#lesson-6"></a>
    Kings Touching
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id=lesson-1>
    <h1>
      Lesson 1
    </h1>
  </div>
  <div class="tab-pane fade" id=lesson-2>
    <h1>
      Lesson 2
    </h1>
  </div>
  <div class="tab-pane fade" id=lesson-3>
    <h1>
      Lesson 3
    </h1>
  </div>
  <div class="tab-pane fade in active" id=lesson-4>
    <h1>
      Lesson 4
    </h1>
  </div>
  <div class="tab-pane fade" id=lesson-5>
    <h1>
      Lesson 5
    </h1>
  </div>
  <div class="tab-pane fade" id=lesson-6>
    <h1>
      Lesson 6
    </h1>
  </div>
</div>
{% endblock %}