{% extends "base.html" %}

{% block content %}

<div class="ac-form-container">
  <form method="POST" action='' class="ac-forms">
    {{ form.hidden_tag() }}
    {{ form.username.label }} 
    {{ form.username }} <br>

    {{ form.password.label }} 
    {{ form.password }} <br>

    {{ form.remember_me.label }}
    {{ form.remember_me }} <br> <br> 

    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}

    {{ form.submit }}
    <br>
    <p> New to our website? Click <a href="{{ url_for('register', next=next) }}">here</a> to create a new account. </p>
  </form>
</div>


{% endblock %}