{% extends "base.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='forms.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container ac-form-section">
  <div class=row>
    <div class="col-5 ac-form-container">
      <form method="POST" action='' class="ac-forms">
        {{ form.hidden_tag() }}

        {{ form.username(placeholder="Username", autocomplete="username") }} <br>

        {{ form.password(placeholder="Password", autocomplete="current-password") }} <br>

        {% for message in get_flashed_messages() %}
        <p class="ac-errors">{{ message }}</p>
        {% endfor %}

        {{ form.submit }} <br><br>
      </form>
    </div>

    <div class="col-4 ac-form-info">
      <h3> Info </h3>
      <p>
        {% if next != url_for('index') %}
        Please sign in to continue 
        {% endif %}
        <br> <br>
        New to our website? Click <a href="{{ url_for('register', next=next) }}">here</a> to create a new account.
      </p>
    </div>
  </div>
</div>

{% endblock %}