{% extends "base.html" %}

{% block body_attributes %}
class="d-flex flex-column" style="min-height: 100vh;"
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='learn/lesson.css') }}">
<style>
    .ac-puzzle-container {
        display: flex;
        margin: auto;
    }

    .ac-lesson-task {
        margin-top: 50px;
    }

    /* Override bootstrap classes */
    .btn-success #next-button {
        background-color: var(--ac-green);
        border-color: var(--ac-green);
    }

    .btn-success #next-button:hover {
        background-color: var(--ac-deep-green);
        border-color: var(--ac-deep-green);
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='learn/utils.js') }}"></script>
<script>
    const isFinalTest = "{{ save }}" === "True";

    async function markPuzzleComplete(puzzleId, startTime, endTime, attempts) {
        if (isFinalTest) {
            await ajax(`/api/puzzles/${puzzleId}`, "POST", {
                attempts,
                start_time: startTime,
                end_time: endTime,
                test_id: {{ test_id }},
            });
        } else {
            await markTestAsComplete("{{ lesson.id }}");
        }
    }

    async function markFinalTestComplete() {
        {% if test_id %}
        await ajax("{{ url_for('test_api', test_id=test_id) }}", "POST", {});
        window.location.href = "{{ url_for('learn') }}";
        {% endif %}
    }

    window.onload = async () => {
        const userSettings = await ajax("{{ url_for('get_settings') }}");
        const boardOptions = userSettings ? transformSettingsResponse(userSettings.settings) : {};

        let puzzle = new Puzzle({
            boardOptions: {
                target: "#board",
                ...boardOptions,
                allowUndo: false,
            }
        });

        let puzzleId = null;
        let startTime = null;
        let endTime = null;
        let attempts = 1;
        let finalPuzzle = false;

        const lessonTextDiv = document.getElementById("lesson-text");
        const puzzleTitleDiv = document.getElementById("puzzle-title");
        const puzzleTimerDiv = document.getElementById("timer");
        const nextButton = document.getElementById("next-button");
        const retryButton = document.getElementById("retry-button");
        const hintButton = document.getElementById("hint-button");
        const resetButton = document.getElementById("reset-button");
        hintButton.onclick = () => {
            puzzle.board.emphasizer.clear();
            puzzle.showHint();
            // Increment attempts for using a hint
            attempts++;
        };
        resetButton.onclick = () => {
            puzzle.reset();
        };

        function updateTimer() {
            if (startTime) {
                const currentTime = endTime ? endTime : Date.now();
                const delta = currentTime - startTime;
                const minutes = Math.floor(delta / 60000);
                const seconds = Math.floor(delta / 1000) % 60;
                puzzleTimerDiv.innerText = `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
            } else {
                puzzleTimerDiv.innerText = "";
            }
        }

        setInterval(updateTimer, 500);

        async function nextPuzzle() {
            puzzleTitleDiv.innerText = "Loading...";
            const puzzleData = await ajax("{{ puzzle_uri }}");
            puzzleTitleDiv.innerText = "{{ title }}";
            if (puzzleData.puzzle) {
                finalPuzzle = !!puzzleData.is_final;
                puzzleId = puzzleData.puzzle.id;
                attempts = 1;
                puzzle.board.position.isAtomic = puzzleData.puzzle.is_atomic;
                puzzle.setFromData({
                    fen: puzzleData.puzzle.fen,
                    moveTree: puzzleData.puzzle.move_tree,
                });
                if (puzzle.board.isFlipped !== (puzzle.board.position.colorToMove === COLORS.WHITE)) {
                    puzzle.board.flip();
                }
                puzzle.board.disableInteraction();
                startTime = Date.now();
                endTime = null;
                updateTimer();
            }
        }

        function showNextButton(puzzle, passed) {
            if (passed) {
                nextButton.style.display = "block";
                nextButton.innerText = (isFinalTest && !finalPuzzle) ? "Next" : "Complete";
                nextButton.onclick = () => {
                    hideNextButton();
                    markPuzzleComplete(puzzleId, startTime, endTime, attempts).then(() => {
                        if (isFinalTest) {
                            if (finalPuzzle) {
                                markFinalTestComplete()
                            } else {
                                nextPuzzle();
                            }
                        } else {
                            window.location.href = "{{ url_for('learn') }}";
                        }
                    });
                    puzzle.board.emphasizer.resetColors();
                    puzzle.board.emphasizer.clear();
                };
            } else {
                retryButton.style.display = "block";
                retryButton.onclick = () => {
                    hideNextButton();
                    attempts++;
                    puzzle.board.enableInteraction();
                    puzzle.undoLastMove();
                    puzzle.board.emphasizer.resetColors();
                    puzzle.board.emphasizer.clear();
                }
            }
        }

        function hideNextButton() {
            nextButton.style.display = "none";
            retryButton.style.display = "none";
        }

        function showResetButton() {
            resetButton.style.display = "block";
        }

        function hideResetButton() {
            resetButton.style.display = "none";
        }

        puzzle.correctMovePlayed.addEventListener((move) => {
            puzzle.board.disableInteraction();
            if (puzzle.isComplete()) {
                if (!endTime) {
                    endTime = Date.now();
                }
                showResetButton();
                showNextButton(puzzle, true);
            } else {
                wait(300).then(() => {
                    puzzle.board.emphasizer.resetColors();
                    puzzle.playContinuation();
                    puzzle.board.enableInteraction();
                });
            }
            puzzle.board.emphasizer.setColors("#00a00088", "#00700088");
        });

        puzzle.incorrectMovePlayed.addEventListener((move) => {
            puzzle.board.disableInteraction();
            showNextButton(puzzle, false);
            puzzle.board.emphasizer.setColors("#ff000088", "#aa000088");
        });

        puzzle.puzzleReset.addEventListener(() => {
            hideResetButton();
            puzzle.hideHint();
            puzzle.board.emphasizer.resetColors();
            if (!puzzle.playerToMove) {
                wait(500).then(() => {
                    if (!puzzle.playerToMove) {
                        puzzle.playContinuation();
                        puzzle.board.enableInteraction();
                    }
                });
            } else {
                puzzle.board.enableInteraction();
            }
        });

        hideNextButton();
        hideResetButton();
        nextPuzzle();
    };
</script>
{% endblock %}

{% block content %}
    <div class="flex-grow-1 d-flex" style="text-align: center;">
        <div class="ac-puzzle-container">
            <div id="board" class="ac-board ac-lesson-board" tabindex="0"></div>
            <div class="ac-puzzle-helper">
                <h3 id="puzzle-title">Loading...</h3>
                <div id="timer"></div>
                <div>
                    Find the best move.
                </div>
                <div id="lesson-text" class="ac-lesson-task"></div>
                <div class="ac-next-button-container">
                    <div class="ac-button-group">
                        <button id="hint-button" type="button" class="ac-full-button">Hint</button>
                        <button id="reset-button" style="display: none;" type="button" class="ac-full-button">Reset</button>
                        <button id="next-button" style="display: none;" type="button" class="btn btn-success ac-full-button">Next</button>
                        <button id="retry-button" style="display: none;" type="button" class="btn-danger ac-full-button">Retry</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}