{% extends "base.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='forms.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container ac-form-section">
  <div class="row">
    <div class="col-5 ac-form-container">
      <form method="POST" action='' class='ac-forms'> 
        {{ form.hidden_tag() }}

        {{ form.username(placeholder="Username", autocomplete="username") }} <br>

        {{ form.password(placeholder="Password", autocomplete="new-password") }} <br>

        {{ form.played_chess_before.label }}
        {{ form.played_chess_before }} <br>

        {% for message in get_flashed_messages() %}
        <p class="ac-errors">{{ message }}</p>
        {% endfor %}

        {{ form.submit }}
      </form>
    </div>

    <div class="col-4 ac-form-info"> 
      <h3>Rules</h3>
      <p> 
        The password must be at least 6 characters long with at least 1 number. 
        <br> <br> 
        If 'Chess Beginner' is ticked, you will do an introductory lesson on the basics of Chess.
      </p>
    </div>
  </div>
</div>

{% endblock %}