{% extends "base.html" %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='learn/lesson_outline.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='forms.js') }}"></script>
{% endblock %}

{% block body_attributes %}
class="d-flex flex-column" style="min-height: 100vh;"
{% endblock %}

{% block content %}

<div class="ac-form-section d-flex flex-grow-1">
  <div style="margin: auto; display: flex;">
    <div class="ac-form-container">
      <form method="POST" action='' class='ac-forms'> 
        {{ form.hidden_tag() }}

        {{ form.username(placeholder="Username", autocomplete="username") }} <br>

        {{ form.password(placeholder="Password", autocomplete="new-password") }} <br>

        {{ form.played_chess_before.label }}
        {{ form.played_chess_before }} <br>

        {{ form.submit(class="ac-button-small") }}
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in get_flashed_messages() %}
        <p class="ac-errors">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </form>
    </div>

    <div class="ac-form-info"> 
      <h3>Rules</h3>
      <p> 
        The password must be at least 6 characters long with at least 1 number. 
        <br> <br> 
        If 'Chess Experience' is ticked, you will do an introductory lesson on the basics of Chess.
      </p>
    </div>
  </div>
</div>

{% endblock %}