{% extends "base.html" %}
  
  {% block styles %}
    <style>

      .stats {
        padding-top: 30px;
        padding-left: 30px;
      }

      .lesson {
        font-family: Arial
      }

  </style>
  {% endblock %}

  {% block content %} 
      <div class="container-fluid stats">
          <div class="row">
            <div class="col-6">
              <h1> User stats </h1>
              <p> Number of completed lessons: {{ num_lessons }} </p>
                {% for time in time_performance %}
                  <h2 class="lesson"> {{ lessons_by_id[loop.index - 1].name }} </h2>
                  {% if time != 0 %}
                    <p> Average time taken for puzzles about this lesson: {{ time }} seconds. </li>

                  {% else %}
                    <p> You have not completed any puzzles from this lesson. </li>
                  
                  {% endif %}
                {% endfor %}
            </div>
    
            <div class="col-6">
              <h1> Global stats </h1>
              <p> Number of registered users: {{ num_users }} </p>
            </div>
          </div>
        </div>
  {% endblock %}